################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SCM/FileContentIndex
/obj/Debug/net8.0/SCM.AssemblyInfo.cs
/obj/Debug/net8.0/SCM.AssemblyInfoInputs.cache
/.vs/SCM/v17/.suo
/obj/Debug/net8.0/SCM.assets.cache
/obj/Debug/net8.0/SCM.csproj.AssemblyReference.cache
/obj/project.assets.json
/obj/project.nuget.cache
/obj/SCM.csproj.nuget.dgspec.json
/obj/SCM.csproj.nuget.g.targets
/bin/Debug/net8.0
/obj/Debug/net8.0
/.vs/SCM/config
/obj/SCM.csproj.nuget.g.props
/.vs/SCM/v17/DocumentLayout.json
