################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SCM/FileContentIndex
/obj/Debug/net8.0/SCM.AssemblyInfo.cs
/obj/Debug/net8.0/SCM.AssemblyInfoInputs.cache
